<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <meta-data android:name="com.google.android.maps.v2.API_KEY"
             android:value="AIzaSyCtw7RloahUEwQ56LDnjMnohBICtlNY-Rg" />
	<application android:label="WeatherApp.Droid" android:theme="@style/MyTheme"></application>
</manifest>